* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e9ebee;
  margin: 0;
  padding-bottom: 25px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
