* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.header {
  display: flex;
  width: auto;
  height: 50px;
  background-color: #4267b2;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

div.header h1 {
  font-family: "Source Sans Pro", Roboto, Arial;
  font-size: 21px;
  color: #fff;
}
